{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "test": {
      "compact": false,
      "plugins": [
        [
          "istanbul", {
          "exclude": [
            "tests/**/*.*"
          ]
        }]
      ]
    }
  }
}
